body {
    font-family: 'Fredoka One'; 
}

.background-color-primary {
    background-color: #FF9B23;
}

.background-color-secondary {
    background-color: #FFF8DC;
}

.height-main {
    height: calc(100vh - 58.39px);
    padding: 0;
}

.header {
    color: #FFFFFF;
    padding: 10px 30px;
}

.header h1 {
    user-select: none;
    font-size: 2rem;
    margin: 0;
}

.header-icon {
    font-size: 2rem;
    margin-right: 8px;
}

.logout{
    margin-left: 40px;
}

.pointer {
    cursor: pointer;
}

.looking-for-home {
    color: #FF9B23;
    margin: 0;
    text-align: center;
    width: 100%;
    margin-top: 20px;
    font-size: 2rem;
}

.dropdowns {
    user-select: none;
    margin-top: 40px;
    margin-bottom: 40px;
}

.dropdowns select {
    width: 10%;
}

.animal-card {
    user-select: none;
    background-color: #FFFFFF;
    font-family: 'Inter';
    padding: 0px;
    border-radius: 10px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    margin-bottom: 20px;
    cursor: pointer;
    transition: all .2s;
    position: relative;
}

.animal-card:hover  {
    scale: 1.05;
    box-shadow: 0 2px 10px 4px rgba(0, 0, 0, 0.1);
}

.animal-card .foto {
    width: 100%;
    margin-right: 20px;
}

.animal-card .infos h1 {
    font-weight: bold;
    margin: 0 0 10px;
    font-size: 2rem;
}

.animal-card .infos p {
    margin: 0px 0px 5px 30px;
}

.container-foto {
    width: 30%;
}

.infos {
    width: 70%;
}

.foto {
    border-top-left-radius: 5px;
    border-bottom-left-radius: 5px;
    object-fit: cover;
    max-width: 500px;
}

.container-anuncio .foto{
    min-height: 500px;
}

.minor-foto {
    min-width: 100px;
}

.grid {
    display: grid;
    grid-template-columns: 30% 30% 30%;
    grid-gap: 5%;
    margin-left: 5%;
    margin-right: 5%;
}

.danger {
    color: #eb143f;
    font-size: 1.7rem;
    position: absolute;
    bottom: -10px;
    right: -8px;
}

.danger:hover {
    box-shadow: 0px 0px 10px 3px rgb(247 8 8 / 53%);
    border-radius: 50%;
}

.container-anuncio{
    border: 1px solid #908D8D;
    border-radius: 8px;
    padding: 0;
    margin-top: 40px;
    background-color: #FFFFFF;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.3);
}

.info-anuncio{
    font-family: 'Inter';
    padding: 50px;
    font-size: 1.3rem;
}

.info-anuncio-main{
    flex-grow: 0;
    font-size: 1.2rem;
}

.info-anuncio-main p{
    font-weight: bold;
}

.info-anuncio-main i{
    margin-right: 10px;
}

.info-anuncio-description{
    font-size: .9rem;
    margin-top: auto;
}

.anuncio-icons{
    display: flex;
    gap: 10px;
    font-size: 1.7rem;
}

.side-menu{
    background-color: #FFE3B3;
    color: #FF9B23;
    font-size: 1.7rem;
}

.side-menu div{
    cursor: pointer;
    padding: 30px;
    transition: .2s;
}

.side-menu .active{
    background-color: #FFF8DC;
    cursor: default;
}

.side-menu p{
    user-select: none;
    margin: 0;
    margin-left: 5px;
}

.side-menu div:not(.active):hover {
    background-color: #FFA64D;
    color: #FFFFFF;
}

.table-admin{
    color: #FF9B23;
    margin-top: 50px;
}

.table-admin div{
    border-bottom: 1px black solid;
}

.table-admin h2{
    font-size: 1.7rem;
}

.table-admin p{
    margin: 0;
}

.btn-desativar{
    font-family: 'Inter';
    background-color: #FF7223;
    color: #FFFFFF;
    width: 10%;
    outline: none;
    border: none;
    border-radius: 3px;
    height: 35px;
    margin: 5px 0 5px 0;
    user-select: none;
    transition: .2s;
    font-size: .9rem;
}

.btn-desativar:hover{
    background-color: #FF5710;
    color: #FFFFFF;
}

.btn-reativar{
    font-family: 'Inter';
    margin: 5px 0 5px 0;
    width: 10%;
    font-size: .9rem;
    border-radius: 3px;
}

.side-menu-cadastro{
    background-color: #FFE3B3;
    width: 40%;
    padding-top: 10px;
    gap: 10px;
    position: relative;
}

.side-menu-cadastro div{
    transition: .2s;
}

.side-menu-cadastro p{
    user-select: none;
    margin: 0;
    margin-left: 5px;
}

.side-menu-cadastro .cadastro-active {
    border-bottom-right-radius: 0;
    border-top-right-radius: 0;
    margin-right: 0;
    box-shadow: -1px 2px 2px rgba(0, 0, 0, 0.1);
    cursor: default;
    width: 100% !important;
}

.side-menu-cadastro .animal-card .infos h1 {
    font-size: 1.3rem;
}

.side-menu-cadastro .animal-card{
    width: 90%;
}

.side-menu-cadastro .animal-card:hover{
    scale: 1;
}

.side-menu-cadastro .danger:hover{
    box-shadow: 0px 0px;
    border-radius: 0;
}

.div-btn-novo-anuncio{
    text-align: center;
    margin-bottom: 2px;
}

.div-btn-novo-anuncio button{
    outline: none;
    border: none;
    font-family: 'Inter';
    border-radius: 3px;
    font-weight: bold;
    background-color: #FFFFFF;
    color: #FF9B23;
    padding: 10px 15%;
    transition: .2s;
}

.div-btn-novo-anuncio button:hover{
    background-color: #FF9B23;
    color: #FFFFFF;
}

.cadastro-active{
    border-top-right-radius: 0;
    border-bottom-right-radius: 0;
}

.form-cadastro{
    background-color: #FFFFFF;
    font-family: 'Inter';
    font-weight: bold;
}

.container-select-cadastro {
    padding: 0;
}

.container-select-cadastro select{
    width: 30%;
}

.btn-cadastro{
    background: #FF9B23;
    box-shadow: 0px 2px 4px rgba(0, 0, 0, 0.25);
    border-radius: 4px;
    color: #FFFFFF;
    border: none;
    width: 135px;
    height: 35px;
    transition: .2s;
}

.btn-cadastro:hover{
    box-shadow: 0px 2px 10px rgba(0, 0, 0, 0.35);
}

.form-cadastro form .container-fluid > div{
    margin: 10px 0;
}

.form-cadastro form .container-fluid > div.form-check {
    margin: 20px 0 -8px;
}

.btn-group{
    position: absolute;
    bottom: 50px;
    right: 0;
    width: 350px;
}

.grid-recurso{
    display: grid;
    grid-template-columns: 30% 30% 30%;
    grid-gap: 5%;
    margin-left: 5%;
    margin-right: 5%;
    margin-top: 20px;
}

.card-recurso{
    background-color: #FFFFFF;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
    border-radius: 4px;
    font-family: 'Inter';
    font-weight: normal;
    font-size: .9rem;
    padding: 35px 35px 5px 35px;
    border: 1px solid #908D8D;
    position: relative;
}

.card-recurso i{
    color: #FF9B23;
    font-size: 1.3rem;
    position: absolute;
    right: 15px;
    top: 10px;
    user-select: none;
}

.btn-group-recurso{
    padding: 0;
}

.btn-group-recurso button{
    width: 30%;
}

.denuncias-anuncio-group{
    color: #FF9B23;
    border-bottom: 1px solid #2B2B2B;
    margin-bottom: 10px;
    margin-top: 10px;
    width: 90%;
    margin-left: 5%;
    user-select: none;
}

.denuncias-group{
    display: grid;
    grid-template-columns: 40% 40%;
    grid-gap: 10%;
    margin-left: 10%;
    user-select: none;
}

.denuncias-anuncio-group div h2{
    margin-bottom: 0;
}

.denuncias-anuncio-group div i{
    margin-left: 10px;
    font-size: 1.3rem;
}