body {
    font-family: 'Fredoka One'; 
}

.background-color-primary {
    background-color: #FF9B23;
}

.background-color-secondary {
    background-color: #FFF8DC;
}

.header {
    color: #FFFFFF;
    padding: 10px 30px;
}

.header h1 {
    font-size: 2rem;
    margin: 0;
}

.header-icon {
    font-size: 2rem;
    margin-right: 8px;
}

.pointer {
    cursor: pointer;
}

.looking-for-home {
    color: #FF9B23;
    margin: 0;
    text-align: center;
    width: 100%;
    margin-top: 20px;
    font-size: 2rem;
}

.dropdowns {
    margin-top: 40px;
    margin-bottom: 40px;
}

.dropdowns select {
    width: 10%;
}

.animal-card {
    width: 30%;
    background-color: #FFFFFF;
    font-family: 'Inter';
    padding: 0px;
    border-radius: 10px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    margin-bottom: 20px;
}

.animal-card .foto {
    width: 100%;
    margin-right: 20px;
}

.animal-card .infos h1 {
    font-weight: bold;
    margin: 0 0 10px;
    font-size: 2rem;
}

.animal-card .infos p {
    margin: 0px 0px 5px 30px;
}

.container-foto {
    width: 30%;
}

.infos {
    width: 70%;
}

.foto {
    border-top-left-radius: 5px;
    border-bottom-left-radius: 5px;
}

